 /* google font  */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}
main{
    background-color: #FFFFFF;
}

.col .item-card{ 
    padding: 5px;
    background-color: azure;
    border-radius: 25px;
}
.pkg-price{
    color: #E07C24;
}
.pkg-price-2{
    color: #a02929;
}


.btn-xoxo-1{
    background-color: #FFFFFF;
    color: #333333;
    padding: 10px 30px;
    border-radius: 25px;
    margin-bottom: 10px;
}
i{
    color: #a02929;
} 

.col .bg-primary-bg{
    line-height: 25px;
    top: -30px;
    background-color: #3F87F5;
    border-radius: 25px;
    padding-bottom: 5px;
   
}

.bg-primary-hdr-ftr{
    background-color: #03203C;
}



/* alert css  */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }
  
  .alert.success {background-color: #04AA6D;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }