 /* google font  */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

.col .item-card{ 
    padding: 5px;
    background-color: azure;
    border-radius: 25px;
}
.pkg-price{
    color: #E07C24;
}
.pkg-price-2{
    color: #a02929;
}


.btn-xoxo-1{
    background-color: #FFFFFF;
    color: #333333;
    padding: 10px 30px;
    border-radius: 25px;
    margin-bottom: 10px;
}
i{
    color: #a02929;
} 

.col .bg-primary-bg{
    line-height: 25px;
    top: -30px;
    background-color: #3F87F5;
    border-radius: 25px;
    padding-bottom: 5px;
   
}

